html
{
    width: auto;
}

body
{
background-color: #F5F3EF;
}

h1 h2 h3
{
    font-family: 'Roboto Serif', serif;
}

footer
{
background-color: #FEBD2F;
width: auto;
height: 80px;
display: flex;
justify-content: center; 
}

.icon
{
    width: 64.98px;
    height: 58.69px;
    margin: 0 0 150px 300px
}

p
{
    color: #646464;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.grid-container
{
    display: grid;
    grid-template-areas:
     "banner cooking"
     "description cooking";
     height: 600px;
}

.banner
{
    height: 225px;
    width: 600px;
    grid-area: banner;
    font-size: 64px;
    padding-left: 20px;
}

.description
{
    height: 128px;
    width: 600px;
    grid-area: description;
    font-size: 24px;
    padding-left: 20px;
}

.cooking
{
    grid-area: cooking;
    height: 440px;
    width: 600px;
    padding-top: 20px;
}

.container
{
    display: flex;
    justify-content: space-around;
    width: auto;
}


.flex-container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 80px 0 80px 0;
}

.flex-item
{
background-color: white;
height: 324px;
width: 400px;
font-weight: 500;
border: none;
border-radius: 40px;
font-size: 18px;
padding: 20px;
margin: 20px 0 20px 0;
}

.nav-container
{
    display: flex;
    justify-content: flex-start;
}

.mini-container
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.start
{
    text-decoration: none;
    border: solid 1px #DCDCDC;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    width: 130px;
    height: 48px;
    font-size: 16px;
    text-align: center;
}

button
{
    border: 1px  solid #DCDCDC;
    border-radius: 50px;
    background-color: white;
    height: 48px;
    width: 143px;
    font-family: 'Roboto', sans-serif;
}

.yellow-card
{
    background-color: #FEBD2F;
    border: none;
    border-radius: 40px;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Roboto Serif', serif;
}

.yellow-p
{
    color: #000000;
}

.bot-logo
{
   height: 32px;
   width: 129.62px;
   padding-top: 20px;
}

@media screen and (max-width: 768px)
{
.grid-container
    {
        display: grid;
        grid-template-areas:
         "banner"
         "description"
         "cooking";
         height: auto;
         padding-left: 80px;
    }
    .flex-item
    {
        height: 271px;
        width: 332px;
        padding: 10px;
    }
}

@media screen and (max-width: 390px)
{
    .flex-item
    {
       height: 247px;
       width: 342px;
    }

    .yellow-card
    {
        height: 132px;
        width: 342px;
    }

    .cooking
    {
        height: 220px;
        width: 342px;
    }

    .banner
    {
        width: 342px;
        font-size: 36px;
    }

    .description
    {
        width: 342px;
        font-size: 18px;
    }

    .yellow-card
    {
        font-size: 24px;
    }

    .logo
    {
        width: 129.62px;
        height: 32px;
    }
}